name: test

on:
  - push
  - workflow_dispatch

permissions: read-all

jobs:
  test:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-24.11
      - run: nix-shell --pure --run 'make test'
